doctype html
html

    head

        title LibraryManagment

h2.center Books Details
table.table
    thead
        tr
            th Title
            th AuthorName
            th genre
            th description
            th ratings
    tbody
            tr
                td(style="padding-right: 20px;") #{book.title}
                td(style="padding-right: 20px;") #{book.authorname}
                td(style="padding-right: 20px;") #{book.genre}
                td(style="padding-right: 20px;") #{book.description}
                td(style="padding-right: 20px;") #{book.ratings}

p click  #[a(href="/books") here] to go back!