doctype html
html

    head

        title Library Managment
        link(rel='stylesheet', href='/style.css')



        body

            div#nav(style="text-align: center;")
                h1#title Library Managment
                img(src="https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80" alt="Home Image" style="width: 500px; height: auto;")
                div(style="margin-top: 20px;")
                    a(href="/" class="button" style="font-size: 25px;") Home
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="/books" class="button" style="font-size: 25px;") Books
                    |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="/authors" class="button" style="font-size: 25px;") Authors
                    |   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="/signup" class="button" style="font-size: 25px;") Signup
                    |   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="/search" class="button" style="font-size: 25px;") Search
                    |   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="/user" class="button" style="font-size: 25px;") UserProfile
                    |   <!-- Add a space between links -->

                div.login
                    if loggedIn
                        p Logged in as
                            a(href=`/users/${currentUser._id}`)= currentUser.fullName
                            span.log-out
                                a(href="/users/logout" ) Log out
                    else
                            a(href="/login" style="font-size: 25px;") Log In
                            |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            a(href="/logout" style="font-size: 25px;") Log Out

        h1 Featured Books
            each book in featuredBooks
                        p(style='font-size: 20px') Title: #{book.title}
                        p(style='font-size: 15px') Author: #{book.authorname}
                        p(style='font-size: 15px') Genre: #{book.genre}
                        p(style='font-size: 15px') Ratings: #{book.ratings}
                        p(style='font-size: 15px') Description: #{book.description}
