extends search

block content
    if message
        h4 #{message}
    table
        thead
            tr
                th id
                th title
                th author
                th genre
                th description
                th ratings
        tbody
            each book in books
                tr
                    td= book.id
                    td= book.title
                    td= book.author
                    td= book.genre
                    td= book.description
                    td= book.ratings


    if (totalPages > 1)
        pagination
            if currentPage > 1
                a(href=`/search1?query=${encodeURIComponent(query)}&page=${currentPage - 1}`) Previous
                |   <!-- Add a space between links -->
            each page in Array.from({ length: totalPages }, (_, i) => i + 1)
                a(href=`/search1?query=${encodeURIComponent(query)}&page=${page}`)= page
                |   <!-- Add a space between links -->
            if currentPage < totalPages
                a(href=`/search1?query=${encodeURIComponent(query)}&page=${currentPage + 1}`) Next
                |   <!-- Add a space between links -->